*{
  border: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
body {
  background-color:rgb(233, 255, 145); 
}

/* Container Animation */
.container {
  height: 10vh;
  width: 50vw;
  border: 2px solid rgb(185, 203, 115);
  border-radius: 5px;
  margin: 0px auto;
  padding: 0px;
  position:relative;
  top: 70vh;
  display: flex;
  justify-content: space-around;
  box-shadow: 5px 10px rgb(185, 203, 115);
}
@media only screen and (max-width: 600px) {
  .container {
    top: 60vh;
    width: 90vw;
  }
}

.containerAnimate {
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-name: containerSwitchAnimate;
}
@keyframes containerSwitchAnimate {
  0% {
    box-shadow: 5px 10px rgb(185, 203, 115);
    background-color:rgb(233, 255, 145); 
  }
  50% {
    box-shadow: 2px 7px rgb(185, 203, 115);
    background-color:rgb(200, 218, 126); 
  }
  100% {
    box-shadow: 5px 10px rgb(185, 203, 115);
    background-color:rgb(233, 255, 145); 
  }
}
/* End of Container Animation */

.oreContainer {
  height: 5vh;
  width: 10vw;
  border: 2px solid rgb(185, 203, 115);
  border-radius: 5px;
  margin: 0px auto;
  padding: 0px;
  position:relative;
  top: 10vh;
  left: 15vw;
  display: inline-flex;

  box-shadow: 5px 10px rgb(185, 203, 115);
}
@media only screen and (max-width: 600px) {
  .oreContainer {
    width: fit-content;
  }
}

.oreText {
  position: relative;
  text-align: left;
  width: 60px;
  height: 30px;
  left: 1vw;
  bottom: 1vh;
  font-size: 20px;
  letter-spacing: 3px;
  color: rgb(106, 116, 66);
}

.oreCount {
  width: 50%;
}
.countText {
  position: relative;
  text-align: left;
  width: 60px;
  height: 30px;
  left: 1vw;
  bottom: 1vh;
  font-size: 20px;
  letter-spacing: 3px;
  color: rgb(106, 116, 66);
}

/* button fade */
.mine,
.sell,
.shop {
  width: 4vw;
  height: 4vh;
  background-color: rgb(185, 203, 115);
  color: rgb(106, 116, 66);
  border-radius: 2px;
  margin: auto 0px auto 0px;
  letter-spacing: 5px;
  opacity: 1;
  touch-action: manipulation;
}
@media only screen and (max-width: 600px) {
  .mine,
  .sell,
  .shop {
    width: fit-content;
    height: 6vh;
    pointer-events: visible;
    -webkit-tap-highlight-color:rgb(122, 134, 75);
  }
}

.buttonsAnimate {
  animation-duration: .2s;
  animation-timing-function: ease;
  animation-name: buttonsFade;
}
@keyframes buttonsFade {
  0%{
  opacity: 1;
  }
  100%{
  opacity: 0;
  }
}
/* end of button fade */

.mine:hover,
.sell:hover,
.shop:hover {
  width: 4vw;
  height: 4vh;
  background-color: rgb(122, 134, 75);
  color: white;
  border-radius: 2px;
  margin: auto 0px auto 0px;
  transition: all .1s ease;
}
@media only screen and (max-width: 600px) {
  .mine:hover,
  .sell:hover,
  .shop:hover {
    color: rgb(106, 116, 66);
    background-color: rgb(185, 203, 115);
    width: fit-content;
    height: 6vh;
    pointer-events: visible;
  }
}

.mine:active,
.sell:active,
.shop:active {
  width: 4vw;
  height: 4vh;
  background-color: rgb(150, 164, 93);
  color: white;
  border-radius: 2px;
  margin: auto 0px auto 0px;
  transition: all .1s ease;
}
@media only screen and (max-width: 600px) {
  .mine:active,
  .sell:active,
  .shop:active {
    width: fit-content;
    height: 6vh;
    pointer-events: visible;
    background-color: rgb(122, 134, 75);
  }
}
.goldContainer {
  height: 5vh;
  width: 10vw;
  border: 2px solid rgb(185, 203, 115);
  border-radius: 5px;
  margin: 0px auto;
  padding: 0px;
  left: 20vw;
  position:relative;
  top: 10vh;
  display: inline-flex;

  box-shadow: 5px 10px rgb(185, 203, 115);
}
@media only screen and (max-width: 600px) {
  .goldContainer {
    width: fit-content;
    left: 20vw;
    top: 10vh;
    margin: none;
  }
}
.goldText {
  position: relative;
  text-align: left;
  width: 60px;
  height: 30px;
  left: 1vw;
  bottom: 1vh;
  font-size: 20px;
  letter-spacing: 3px;
  color: rgb(106, 116, 66);
}
.goldCount {
  width: 50%;
}

/* buttons fade in */
.autoMine,
.goldMult,
.back {
  width: 4vw;
  height: 4vh;
  background-color: rgb(185, 203, 115);
  color: rgb(106, 116, 66);
  border-radius: 2px;
  margin: auto 0px auto 0px;
  letter-spacing: 5px;
  touch-action: manipulation;
}
@media only screen and (max-width: 600px) {
  .autoMine,
  .goldMult,
  .back {
    width: fit-content;
    height: 6vh;
    pointer-events: visible;
    -webkit-tap-highlight-color:rgb(122, 134, 75);
  }
}
.buttonsAnimateIn {
animation-duration: .4s;
animation-timing-function: ease;
animation: fadeIn;
}
@keyframes fadeIn {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;  
  }
}
/* end of buttons fade in */

.autoMine:hover,
.goldMult:hover,
.back:hover {
  width: 4vw;
  height: 4vh;
  background-color: rgb(122, 134, 75);
  color: white;
  border-radius: 2px;
  margin: auto 0px auto 0px;
  transition: all .1s ease;
}
@media only screen and (max-width: 600px) {
  .autoMine:hover,
  .goldMult:hover,
  .back:hover {
    background-color: rgb(185, 203, 115);
    color: rgb(106, 116, 66);
    width: fit-content;
    height: 6vh;
    pointer-events: visible;
  }
}

.autoMine:active,
.goldMult:active,
.back:active {
  width: 4vw;
  height: 4vh;
  background-color: rgb(150, 164, 93);
  color: white;
  border-radius: 2px;
  margin: auto 0px auto 0px;
  transition: all .1s ease;
}
@media only screen and (max-width: 600px) {
  .autoMine:active,
  .goldMult:active,
  .back:active {
    width: fit-content;
    height: 6vh;
    pointer-events: visible;
  }
}

.autoMine {
  height: 5vh;
}
.autoMine:hover {
  height: 5vh;
}

#myBar1 {
  position: fixed;
  border: 2px solid rgb(185, 203, 115);
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  width: 40vw;
  height: 5vh;
  margin: 0px auto;
  overflow: hidden;
}

#myProgress {
  width: 100%;
  height: 100%;
  background-color: rgb(233, 255, 145);
}

#myBar {
  width: 0%;
  height: 100%;
  background-color: rgb(185, 203, 115);
}

/* +1 Ore Idle Animation */
.oreIdle {
  position: fixed;
  left: 72%;
  top: 50%;
  width: 50px;
  color: rgb(106, 116, 66);
  opacity: 0;
}
.oreIdleAnimate {
  animation-duration: .5s;
  animation-name: oreIncreaseAnimation;
  animation-timing-function: ease;
}
@keyframes oreIncreaseAnimation {
  0% {
    opacity: .5;
    top: 50%;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    top: 47%;
  }
}
/* End of +1 Ore Idle Animation */

/* +1 Ore Manual Animation */
.oreManual {
  position: fixed;
  left: 32%;
  top: 75%;
  width: 50px;
  color: rgb(106, 116, 66);
  opacity: 0;
}
.oreManualAnimate {
  animation-duration: .2s;
  animation-name: oreIncreaseManualAnimation;
}
@keyframes oreIncreaseManualAnimation {
  0% {
    opacity: 1;
    top: 75%;
  }
  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    top: 73%;
  }
}
/* End of +1 Ore Manual Animation */